# Windows image file caches #
#############################
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails #
##############
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Packages #
############

# Net Beans #
#############
/nbproject

# Config #
##########
/private/config.php

# Upload #
##########
/uploads

# Logs and databases #
######################
/private/logs
*.log
*.sql
*.sqlite


# Images #
##########
/public/images
*.bmp
**/*.gif
*.ico
**/*.jpg
*.jpeg
*.svg
*.spg
*.png
*.psd


# Video #
#########
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm

# Audio #
#########

*.wav
*.mp3
*.wma



# PHPMailer folder #
####################
/private/includes/PHPMailer

*.sass-cache*

# Fonts #
##########
/public/fonts
*.eot
*.ttf
*.woff


# Vendor Files #
##########
/vendor/


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Text File Auto Backups#
#########################
*.bak
