/* Site Colors:
    #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

body{
  background: #FFFFFF;
  font: 13px/15px Verdana, Arial, Helvetica, sans-serif;
}

img { 
  border: none;
}


a{ 
  color: #8D0D19
}

#header {
  min-height: 70px; 
  text-align: left; 
  background: #1A446C; 
  color: #D4E6F4;
}

#header a {color: #FFFFFF;}

#logout {
  text-align: right;
  padding-top: 3.7em;
}

/*Note: IE 5 and 6 won't understand min-height */

#main {
  min-height: 600px; 
  width: 100%; 
  background: #EEE4B9; 
  padding: 2em;
}

#footer { 
  min-height: 15px; 
  padding: 1em; 
  text-align: center;
  background: #1A446C; 
  color: #D4E6F4;
}

/* basic upload button needs a little styling */ 
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.comment {
	margin-bottom: 15px;
}
.author{
	font-family: Georgia;
	font-size: 1.3em;
	line-height:1.3em;
}
.comment .body, .comment .actions{
	margin-left:15px;
}
.comment .meta-info{
	margin-left:15px;
	font-size: .9em;
	font-style:italic;
}